streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
scipy==1.11.4
matplotlib==3.8.4
networkx==3.2.1
pyvis==0.3.2
wordcloud==1.9.3

spacy==3.7.4
thinc==8.2.3

# Modèle FR spaCy (installe le wheel directement, pas besoin de "spacy download" à l’exécution)
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl
